<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재 수입 검사</title>

<style>
.tui-datepicker {
	z-index: 1001;
}

.tui-select-box {
	z-index: 1001;
}

/* ul 스타일 */
.ul-style {
	list-style: none;
	padding: 0px;
}

.ul-style li>label {
	width: 100px;
	text-align: center;
}

.ul-style li {
	padding: 5px;
}

#od-title {
	font-weight: bold;
}

#od-btn {
	display: inline-block;
	margin: 0 5px;
	float: right;
}
</style>

<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
</head>
<body>
	<article layout:fragment="content">
		<main class="main" id="main">
			<div id="od-title">
				<h3>자재 수입 검사</h3>
			</div>

			<div id="od-content">
				<div id="input-group">
					<ul class="ul-style">
						<li><label>품목</label><input type="text" data-bs-toggle="modal"
						data-bs-target="#matCodeModal2" id="matCode1"> <i class="bi bi-search"
						data-bs-toggle="modal" data-bs-target="#matCodeModal2"></i> <input
						type="text" style="background-color: #E9E9E9" id="matCode2" readonly></li>
					<li><label>거래처</label><input type="text"
						data-bs-toggle="modal" data-bs-target="#cpCodeModal2" id="cpCode1"> <i
						class="bi bi-search" data-bs-toggle="modal"
						data-bs-target="#cpCodeModal2"></i> <input type="text"
						style="background-color: #E9E9E9" id="cpCode2" readonly></li>
					<li><label>발주일자</label>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input type="text" id="datepicker-input" aria-label="Date-Time">
							<span class="tui-ico-date"></span>
							<div id="wrapper" style="margin-top: -1px;"></div>
						</div>
						<button class="button" id="selectBtn" onclick="filter()">조회</button>
<!-- 						<button class="button" data-bs-toggle="modal"
							data-bs-target="#insertModal">등록</button> -->
						<button class="button" id="reset">초기화</button>							
						<button class="button" onclick="updateErr()">등록</button></li>
					</ul>
				</div>
			</div>

			<div id="od-content-2">
				<div id="grid"></div>

			</div>
			<br>
			<script>
			matCheckList();
			
/* 				var today = new Date();
				var picker = tui.DatePicker.createRangePicker({
					startpicker : {
						date : today,
						input : '#startpicker-input',
						container : '#startpicker-container'
					},
					endpicker : {
						date : today,
						input : '#endpicker-input',
						container : '#endpicker-container'
					},
					selectableRanges : [ [
							today,
							new Date(today.getFullYear() + 1, today.getMonth(),
									today.getDate()) ] ]
				}); */
				
		        var datepicker = new tui.DatePicker('#wrapper', {
		       		//date : new Date(),
		            input : {
		            	element : '#datepicker-input',
		                format : 'yyyy-MM-dd'
		            	}
		            });

				const chkGrid = new tui.Grid({
					el : document.getElementById('grid'),
					rowHeaders : [ 'checkbox' ],
					scrollX : false,
					scrollY : false,
					columns : [
				            {
				              header: '검수번호',
				              name: 'matChkCode'
				            },{
								header: '자재명',
					            name: 'matName'
					        }, {
				              header: '총 검수량',
				              name: 'matInQty'
				            }, {
				              header: '불량 수량',
				              name: 'matErrQty'
				            }, {
				              header: '합격 수량',
				              name: 'matPassQty'
				            }, {
				              header: '검수일',
				              name: 'matChkDate'
				            }, {
				              header: '발주 번호',
				              name: 'matOrdNo'
				            }, {
								header: '불량 코드',
					            name: 'errCode'
					        }, {
								header: '불량 사유',
					            name: 'matErrRs',
				                editor: {
				                	type: 'select',
				                  	options: {
				                    	listItems: [
				                      		{ text: '원액 불량', value: '원액 불량' },
				                      		{ text: '공병 불량', value: '공병 불량' },
				                      		{ text: '뚜껑 불량', value: '뚜껑 불량' },
				                      		{ text: '라벨 불량', value: '라벨 불량' }
				                    	]
				                    }
				                  }
					        }, {
								header: '불량 내역',
					            name: 'matErrDoc'
					        }, {
								header: '불량명',
					            name: 'errName'
					        }, {
								header: '자재 코드',
					            name: 'mpCode'
					        }]
					});
				
				chkGrid.hideColumn("mpCode", "mpCode");
				chkGrid.hideColumn("matOrdNo", "matOrdNo");
				
				function matCheckList(){
					$.ajax({
						url : "/matCheckList",
						dataType : "json",
						success : function(data){
							chkGrid.resetData(data);
						},
						error : function(reject){
							console.log(reject);
						}
					})
				};
				
				function updateErr(){
					$.ajax({
						url : "/updateMatCheck",
						method : "POST",
						contentType : "application/json",
			         	data:JSON.stringify(rowData),
			         	dataType:"json",
			         	async:false,
			         	beforeSend : function(xhr) {
					    	xhr.setRequestHeader(header, token);
					        },
						success : function(data) {
						   if(data > 0) {
								console.log(data);
								matCheckList();
						   }else {
					       	   alert("실패")
					       }
					     },
				         error : function(request,status,error) {
					      	  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					          alert("와우")  
					      	  console.log(reject);			         		
			         	}
					})
				}
			</script>

		</main>
	</article>
</body>
</html>