<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>InOut</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>


<style type="text/css">
.tui-datepicker {
	z-index: 1001;
}

.tui-select-box {
	z-index: 1001;
}

/* ul 스타일 */
.ul-style {
	list-style: none;
	padding: 0px;
}

.ul-style li>label {
	width: 100px;
	text-align: center;
}

.ul-style li {
	padding: 5px;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main class="main" id="main">
			<h3>출고내역</h3>
			<div>
				<ul class="ul-style">
					<li><label>품목</label><input type="text" data-bs-toggle="modal" data-bs-target="#matCodeModal" id="matCode1"> <i
						class="bi bi-search" data-bs-toggle="modal"
						data-bs-target="#matCodeModal"></i> <input type="text"
						style="background-color: #E9E9E9" id="matCode2" readonly></li>
					<li><label>출고일</label>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input type="text" id="datepicker-input" aria-label="Date-Time">
							<span class="tui-ico-date"></span>
							<div id="wrapper" style="margin-top: -1px;"></div>
						</div>
						<button class="button" id="insertBtn" onclick="filter()">조회</button>
						<button class="button" id="reset">초기화</button>
				</ul>
				<div id="outGrid"></div>
			</div>
			
			
			<!-- matCodeModal2 -->
			<div class="modal fade" id="matCodeModal" tabindex="-1"
				aria-labelledby="lLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="matCodeGrid2"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>

			<script>
			//입고 => 창고만 수정 가능 // 이미 입고한 부분에 관해서 돈터치~
			
			matOutList();
			material();
			
			//발주번호,자재코드,자재명,입고수량(합격수량),입고일,창고,LOT번호
				const outGrid = new tui.Grid({
					el : document.getElementById('outGrid'),
					bodyHeight: 500,
					rowHeaders : [ 'checkbox' ],
					scrollX : false,
					scrollY : true,
					columns : [ {
						header : '출고 번호',
						name : 'matOutNo',
						align : 'center'
					},{
						header : '출고일',
						name : 'matOutDate',
						filter : 'select',
						align : 'center',
			            formatter({value}) {
			            	return `${value.substring(0,10)}`;
			            	}
					},
					{
						header : '출고 수량',
						name : 'matOutQty',
						align : 'center'
					}, {
						header : 'LOT번호',
						name : 'matLotNo',
						align : 'center'
					}, {
						header : '자재 코드',  //ㄱㅖ산
						name : 'mpCode',
						align : 'center'
					}, {
						header : '자재명', 
						name : 'matName',
						filter : 'select',
						align : 'center' 
					}, 
 					{
						header : '창고 코드',
						name : 'whCode',
						align : 'center'
					},
					{
						header : '창고',
						name : 'whName',
						align : 'center'
					}]
				});
			
				outGrid.hideColumn("mpCode", "mpCode");
				outGrid.hideColumn("whCode", "whCode");


				
				/*------------
	            // 함수
	            ----------------*/
	            var datepicker = new tui.DatePicker('#wrapper', {
					//date : new Date(),
					input : {
						element : '#datepicker-input',
						format : 'yyyy-MM-dd'
					}
				});
	            
	            function matOutList(){
					$.ajax({
						url : "/matOutList",
						dataType : "json",
						success : function(data) {
							outGrid.resetData(data);
							console.log(data);
						},
						error : function(reject) {
							console.log(reject);
						}
					})
				}
				
	            function material() {
					$.ajax({
						url : '/material',
						dataType : "json",
						success : function(data) {
							matCodeGrid2.resetData(data);
						},
						error : function(reject) {
							console.log(reject);
						}
					})
				};
				
	            /*------------
				// matCode 모달 데이터 가져오기
				----------------*/
				
	            document.addEventListener('shown.bs.modal', function() {
					 matCodeGrid2.refreshLayout();
					}, '.modal');
				
				var matCodeGrid2 = new tui.Grid({
					el : document.getElementById('matCodeGrid2'),
					bodyHeight : 200,
					rowHeaders : [],
					scrollX : false,
					scrollY : false,
					columns : [{
						header : '자재코드',
						name : 'matCode'
					},{
						header : '자재명',
						name : 'matName'
					}]
				});
				
				/*------------
				// matCode 모달 데이터 가져오기
				----------------*/
				matCodeGrid2.on('click', ev => {
				   let rowData = matCodeGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
				   
				   let mcVal = rowData['matCode'];
				   let mnVal = rowData['matName'];
				   
				   $('#matCode1').val(mcVal);
				   $('#matCode2').val(mnVal);
				   
				   $('#matCodeModal').modal("hide");
				   
			   });
				
				/*------------
				// filter기능
				----------------*/
				
				function filter() {
					
					mv = document.getElementById('matCode2');
					datev = document.getElementById('datepicker-input');
					
					const state = [{code: 'contain', value: mv.value}];
					const state3 = [{code : 'contain', value: datev.value}];

					outGrid.filter('matName', state);
					outGrid.filter('matOutDate', state3);

				};
				
				reset.addEventListener('click', () => {
	                document.getElementById('matCode1').value = '';
	                document.getElementById('matCode2').value = '';
	                outGrid.unfilter('matName');
	                outGrid.unfilter('matOutDate');
	                datepicker.setDate(null);
	             });
          
			</script>
		</main>
	</article>
</body>
</html>